body{
  text-align: center;
}

h1 {
  font-size: 4rem;
  color: #d64161;
  font-weight: lighter;
}

hr {
  width: 60%;
  border: 10px solid pink;
  border-radius: 5px;
}
  background-color:
}

p {
  line-height: 2rem;
}

button {
  border-style: solid;
  border-color: pink;
  color: #d64161;
  padding: 0.5% 0.5%;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  left: 47%;
  width: 5%;
}

strong {
  color: #d64161;
}

.scoreCard {
  display: none;
}
